.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 25%;
  min-width: 250px;
  padding: 0 0.5rem;
  box-shadow: 0px 2px 9px 3px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  font-size: 18px;
  font-weight: 700;
  color: white;
  background: #2F3A49;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 800;
  height: 20%;
  width: 100%;
  color: #3086F6;
  text-shadow: black 3px 3px 5px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 100%;
}