.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-top: 1px solid rgba(255,255,255, 0.3);
  border-bottom: 1px solid rgba(255,255,255, 0.3);;
}

.iconBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.icon {
  width: 2rem;
  height: 100%;
}

.btn {
  margin-bottom: 0.5rem;
  padding: 0.3rem 0.8rem;
  color: white;
  background: #3086F6;
  box-shadow: 0px 2px 9px 3px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: 800;
  cursor: pointer;
}

.btnEnable {
  margin-bottom: 0.5rem;
  padding: 0.3rem 0.8rem;
  color: white;
  background: rgba(255, 255, 255, 0.1);;
  box-shadow: 0px 2px 9px 3px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: 800;
  cursor: default;
}

.btnCreated {
  margin-bottom: 0.5rem;
  padding: 0.3rem 0.8rem;
  color: white;
  background: #00D6C1;
  box-shadow: 0px 2px 9px 3px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: 800;
  cursor: default;
}

.btn:hover {
  background: #5BA1FD;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 80%;
  height: 100%;
  h4 {
    font-size: 1rem;
    font-weight: 800;
    color: white;
  }
  h6 {
    font-size: 0.6rem;
    font-weight: 800;
    color: white;
  }
}